.list-group-item {
  font-size: 30px;
}

.p-3 {
  justify-content: right;
}

.my-navbar {
   justify-content: right;
   padding: 1% 10%;
}

a {
  text-decoration: none;
}

.nav-link {
  color: white;
}